* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d1e3f3;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url();
    background-size: cover;
    border-radius: 40px;
    padding: 80px 50px;
    color: white;
    margin-top: 20px;
}

.search-container {
    background: white;
    border-radius: 50px;
    padding: 12px 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: -35px;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;      
    gap: 30px;            
    padding: 40px 20px;    
    justify-content: center; 
    max-width: 1400px;    
    margin: 0 auto;       
}


.card-tucarrera {
    flex: 1 1 300px;       
    max-width: 400px;      
    border: none;
    border-radius: 25px !important; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden;
}

.card-tucarrera:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15) !important;
}

.tag-trend {
    border-radius: 50px;
    padding: 6px 18px;
    border: 2px solid;
    background: white;
    font-size: 0.85rem;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}



.mapa-container{
    background: white;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 15px 40px rgba(0,0,0,.12);
    transition: .3s;
}

.mapa-container:hover{
    transform: translateY(-5px);
    box-shadow: 0 25px 60px rgba(0,0,0,.18);
}



#map{
    width: 100%;
    height: 80vh;
    min-height: 700px;
    border-radius: 22px;
}


.btn{
    transition: .3s;
}

.btn:hover{
    transform: translateY(-2px);
}


@media (max-width:768px){

    #map{
        height: 500px;
    }

}