#button-inicio{
    text-align: center;
   
}
#formulario{
    align-items: center;
    background-color: rgb(235, 239, 243);
    margin: 110px
}
input{
    margin-left: 70px;
}
#olvidaste{
    margin-left: 80px;
}
#form-recuperacion{
    align-items: center;
    margin-right: 150px;
}
